<div class="main">
  <h1 class="text-center">Kontakt</h1>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <a href="https://discord.gg/EQJfNdccfe">
        <h2 class="text-white">Discord</h2>
        <div class="forum mx-auto">
          <img src="../../../../assets/img/Discord-Logo-White2.png" alt="dc">
        </div>
        </a>
      </div>
      <div class="col text-center">
        <a href="https://forum.shinycreators.de/">
          <h2 class="text-white">Forum</h2>
          <div class="forum mx-auto">
            <img src="../../../../assets/img/icon_chat.png" alt="dc">
          </div>
        </a>
      </div>
      <div class="col text-center">
        <a href="ts3server://ShinyCreators.de?port=9987">
          <h2 class="text-white">Teamspeak</h2>
          <div class="forum mx-auto">
          <img src="../../../../assets/img/teamspeak.png" alt="dc">
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
