<app-header></app-header>
<div class="staff">
  <h2>Kontakt/Socials</h2>
  <div class="staff-team">
      <div>
          <a href="https://discord.gg/EQJfNdccfe"><img src="img/dc.png" alt="DC"></a>

      </div>
      <div>
          <a href="ts3server://ShinyCreators.de?port=9987"><img src="img/ts.png" alt="DC"></a>
      </div>
      <div>

          <a href="https://www.instagram.com/shinycreators/"><img src="img/insta.png" alt="DC"></a>

      </div>
      <div>

          <a href="https://www.tiktok.com/@shinycreators?lang=de-DE&is_copy_url=1&is_from_webapp=v1"><img src="img/ttz4.png" alt="DC"></a>

      </div>
      <div>

          <a href="https://www.youtube.com/channel/UCbCSzi_6uyMFazhgCq4Y6zw"><img src="img/ytz.png" alt="DC"></a>

      </div>
  </div>
  <h2>ShinyM Socials</h2>
  <div class="staff-team">
      <div>

          <a href="https://www.youtube.com/channel/UCIdF09yfVG4hmiuKVP-arJg"><img src="img/ytz.png" alt="DC"></a>
  </div>
</div>
<app-footer></app-footer>
