<div class="main">
  <h1 class="text-center text-uppercase">Partner</h1>
  <a href="https://www.flaticon.com/free-icons/link" title="link icons">Link icons created by Freepik - Flaticon</a>
  <a href="https://www.flaticon.com/free-icons/reward" title="reward icons">Reward icons created by Freepik - Flaticon</a>
  <a href="https://www.flaticon.com/free-icons/gaming" title="gaming icons">Gaming icons created by mynamepong -
    Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/law" title="law icons">Law icons created by Freepik - Flaticon</a>
</div>
