<div class="container" *ngIf="gm || editMode">
  <div class="row">
    <div class="col">
      <form [formGroup]="form" (submit)="saveGm()">
        <div class="row">
          <div class="col mt-5">
          <mat-form-field class="w-100">
            <mat-label>Name</mat-label>
            <input type="text" mat-input matInput formControlName="name">
          </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Beschreibung</mat-label>
            <textarea type="text"cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" mat-input matInput formControlName="description"></textarea>
          </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
          <mat-form-field class="w-100">
            <mat-label>BildURL</mat-label>
            <input type="text" mat-input matInput formControlName="pictureURL">
          </mat-form-field>
          <img *ngIf="!editMode" [src]="gm.pictureURL" [alt]="gm.name" class="w-75">
          </div>
          <div class="col-6">
          <mat-form-field class="w-100">
            <mat-label>HintergrundURL</mat-label>
            <input type="text" mat-input matInput formControlName="backgroundURL">
          </mat-form-field>
          <img *ngIf="!editMode" [src]="gm.backgroundURL" [alt]="gm.name" class="w-75 mt-2">
          </div>
        </div>
        <!-- <div class="row">
          <div class="col">
            <mat-expansion-panel class="bg-none" formArrayName="gameItems">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h5 class="mb-0">Gameitems</h5>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row" *ngFor="let gameitem of gameItems.controls">
                <div class="col-4">
                  <img src="{{ gameitem.img || 'https://cdn.pixabay.com/photo/2016/08/07/15/34/do-not-take-photos-1576438_960_720.png'}}" alt="">
                </div>
                <div class="col-8">
                  <mat-form-field class="w-100">
                    <mat-label>Gameitem Img</mat-label>
                    <input type="text" mat-input matInput formControlName="img">
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div> -->
        <div class="row mt-3">
          <div class="col-6">
            <button class="btn btn-secondary w-100" type="button" [routerLink]="['/admin/gm']">Cancel</button>
          </div>
          <div class="col-6">
            <button class="btn btn-success w-100" type="button" (click)="saveGm()">Save</button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <button class="btn btn-warning w-100" type="button" (click)="deactivateGM()">{{ deactMessage }}</button>
          </div>
          <div class="col-6" *ngIf="!editMode">
            <button class="btn btn-danger w-100" type="button" (click)="deleteGM()">Delete</button>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-12" formArrayName="rules">
              <div class="row mt-5">
                <div class="col-12">
                  <button type="button" class="btn btn-primary w-25" (click)="addRule()">Add Rule</button>
                </div>
              </div>
              <div class="row" *ngFor="let ruli of rules.controls; let i = index"
                style="margin-top: 10px;">
                <div class="col-10">
                  <input type="text" class="form-control" formControlName="{{ i }}">
                </div>
                <div class="col-2">
                  <button type="button" class="btn btn-danger" (click)="deleteRule(i)">X</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
