<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-white fw-bold text-center">Teamspeak</h2>
        <h5  class="text-white fw-bold text-center">
          Hast du Teamspeak bereits installiert?
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <button mat-flat-button class="w-100 bg-no fw-bolder text-white" (click)="copyAdress()">Adresse kopieren</button>
      </div>
      <div class="col mt-2 mt-md-0">
        <a href="ts3server://ShinyCreators.de?port=9987" target="_blank">
          <button mat-flat-button class="w-100 bg-yes text-white fw-bolder">Teamspeak öffnen</button>
        </a>
      </div>
    </div>
  </div>
</div>
