.tbd{
  margin-left: 450px;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  color: #000000;
  font-size: 20px;
  min-height: 80vh;
}
li{
  margin: 5px;
  font-size: 1rem;

    @media (min-width: 1200px) {
      font-size: 1.5rem;
    }
}

//


.main-content {
	width: 95%;
	text-align: center;
	margin: 0 auto;
}
body {
	font-family: Helvetica;
	margin: 0;
	font-family: Lato;
	color: #222;
	box-sizing: border-box;
}

p {
	margin: 0;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.5em;
}

h1 {
  font-size: 1.5em;
  @media (min-width: 1200px) {
    font-size: 1.8em;
  }
}

h2 {
	font-size: 2em;
}

h1,
h2 {
	color: #595a5b;
}

a {
	color: cyan;
}
