<app-header></app-header>
<h1 class="text-center pt-5 pb-3">Allgemeine Nutzungsbedingungen</h1>
  <div class="container">
    <ol>
      <li *ngFor="let rule of rules">{{ rule }}</li>
      <!-- <li>Respektvoller freundlicher Umgang<br></li>
      <li>Modifikationen außer Badlion, Lunar und Labymod verboten</li>
      <li>Keine Beleidigung, Werbung, rassistische, extremistische oder andere illegale Aussagen</li>
      <li>Keine unangebrachten, illegalen Skins</li>
      <li>Keine anstößigen Namen</li>
      <li>Die Nutzungsbedingungen können jederzeit von den Admins ohne Ankündigung geändert werden</li>
      <li>Das Faken von Berühmtheiten oder Teammitgliedern ist untersagt</li>
      <li>Namen dürfen generell keine beleidigenden u.a. Inhalte haben.</li>
      <li>Unzulässige Namen werden vom Server gebannt!</li>
      <li>Kein Spam mit Nachrichten oder CAPS</li>
      <li>Jeder Angriff gegen diesen Server ist strafbar und kann zur Anzeige gebracht werden.</li>
      <li>Das Mitschneiden von Gesprächen auf dem gesamten Server ist nur in Absprache mit den anwesenden Usern des Channels erlaubt.<br>Wir schützen damit eure Privatsphäre.</li>
      <li>Private Daten, wie Telefonnummern, Adressen, Passwörter, usw. dürfen nicht öffentlich ausgetauscht werden. Wir werden dich niemals nach Privaten Daten fragen</li>
      <li>Auf unserem TeamSpeak gelten weitere Regeln: <a href="ts_regeln.html">(hier klicken)</a></li>
       <li>Alle bis jetzt oder zukünftige Bauwerke (gebaute Minecraft Maps, erstellte Bilder, programmierte Plugins, etc.) und umgesetzte Ideen gehören ShinyCreators</li>
      <li>Die Nutzungsbedingungen können jederzeit und ohne Ankündigung von den Serveradmins bearbeitet werden</li>
      <li>Mit dem betreten eines beliebigen ShinyCreators Servers (Teamspeak, Discord, Minecraft) akzeptierst du die Nutzungsbedingungen</li> -->
    </ol>
  </div>
<app-footer></app-footer>
