<div class="video-background">
  <div class="video-foreground">
    <video src="https://shinycreators.de/video/webIntro.mp4" class="w-100 h-100" playsinline data-keepplaying autoplay [muted]="true" loop>no vIDEo</video>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-6 col-lg">
      <a routerLink="/gamemodes">
        <div class="icon-border">

          <img class="icon" src="../../../../assets/img/joystick.png" alt="">
        </div>
      </a>
    </div>
    <div class="col-6 col-lg mb-5 mb-lg-0">
      <a href="#contact">
        <div class="icon-border">

          <img class="icon"  src="../../../../assets/img/link.png" alt="">
        </div>
      </a>
    </div>
    <div class="col-6 col-lg">
      <a href="https://shinycreators.tebex.io">
        <div class="icon-border">

          <img class="icon" src="../../../../assets/img/medal.png" alt="">
        </div>
        </a>
    </div>

    <div class="col-6 col-lg">
      <a routerLink="/rules">
        <div class="icon-border">

          <img class="icon" src="../../../../assets/img/law.png" alt="">
        </div>
      </a>
    </div>
  </div>
</div>
