<!-- <video autoplay muted loop id="myVideo">
  <source src="https://youtu.be/NwuIlXSfQT0" type="video/mp4">
</video> -->
<div class="video-background">
  <div class="video-foreground">
    <video src="https://shinycreators.de/video/webIntro.mp4" class="w-100 h-100" playsinline data-keepplaying autoplay [muted]="true" loop>no vIDEo</video>
    <!-- <iframe
      src="https://www.youtube.com/embed/V23GaSK1tBs?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1"
      frameborder="0" allowfullscreen allow="autoplay" frameBorder="0" onscroll="true"></iframe> -->
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <!-- socials -->
      <!-- <mat-icon class="icon">link</mat-icon> -->
      <a href="#contact">
        <div class="icon-border">

          <img class="icon"  src="https://cdn-icons-png.flaticon.com/512/1011/1011305.png" alt="">
        </div>
      </a>
    </div>
    <div class="col">
      <!-- ranks -->
      <!-- <mat-icon class="icon">stars</mat-icon> -->
      <a href="https://shinycreators.tebex.io">
        <div class="icon-border">

          <img class="icon" src="https://cdn-icons.flaticon.com/png/512/539/premium/539548.png?token=exp=1651520030~hmac=255bee42eb4a63e1a9c1b44e015b4520" alt="">
        </div>
        </a>
    </div>
    <div class="col">
      <!-- games -->
      <a routerLink="/gamemodes">
      <!-- <mat-icon class="icon">sports_esports</mat-icon> -->
      <div class="icon-border">

        <img class="icon" src="https://cdn-icons-png.flaticon.com/512/808/808439.png" alt="">
      </div>
      </a>
    </div>
    <div class="col">
      <!-- <mat-icon class="icon">gavel</mat-icon> -->
      <!-- rules -->
      <a routerLink="/rules">
        <div class="icon-border">

          <img class="icon" src="https://cdn-icons-png.flaticon.com/512/3122/3122427.png" alt="">
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/rules">
        <div class="icon-border">

          <img class="icon" src="https://cdn-icons-png.flaticon.com/512/2622/2622693.png" alt="">
        </div>
      <!-- <mat-icon class="icon">handshake</mat-icon> -->
        </a>
    </div>
  </div>
</div>
