<app-header></app-header>
<div class="main-content">
  <div class="about-staff">
    <div class="abt-epr">
      <h1 class="mb-4">Das Team</h1> <!--  class="fade" -->
      <p>Das Team des ShinyCreators.de Servers ist erfahren, professionell, und hier, um Ihnen die beste Erfahrung auf unserem Server zu ermöglichen. Die beiden Besitzer sind Programmcode und ShinyM, sie sind bestrebt, Ihnen die beste Zeit auf dem Netzwerk zu geben. Die Besitzer arbeiten eng mit dem Rest des Teams zusammen. Sie werden uns online sehen und können mit der IP "ShinyCreators.de" dem Server beitreten.</p>
    </div>
  </div>
</div>
  <div class="staff">
    <h2>Unser Team</h2>
    <div class="staff-team">
      <div>
        <h3>ShinyM</h3>
        <div class="owner">Admin</div>
        <img src="https://minotar.net/armor/bust/ShinyM/190.png" alt="Avatar">
      </div>

      <div>
        <h3>Programmcode</h3>
        <div class="owner">Admin</div>
        <img src="https://minotar.net/armor/bust/Programmcode/190.png" alt="Avatar">
      </div>
    </div>
    <div class="staff-team">
      <div>
        <h3>BaikaynLP</h3>
        <div class="headi">Head-Builder</div>
        <img src="https://minotar.net/armor/bust/BaikaynLP/190.png" alt="Avatar">
      </div>

      <div>
        <h3>o0KittenAngie0o</h3>
        <div class="headi">Head-Builder</div>
        <img src="https://minotar.net/armor/bust/o0KittenAngie0o/190.png" alt="Avatar">
      </div>

      <div>
        <h3>Cyberpandaa</h3>
        <div class="headi">Head-Supporter</div>
        <img src="https://minotar.net/armor/bust/Cyberpandaa/190.png" alt="Avatar">
      </div>
    </div>
    <div class="staff-team">
      <div>
        <h3>TheBloodG0D</h3>
        <div class="dev">Developer</div>
        <img src="https://minotar.net/armor/bust/TheBloodG0D/190.png" alt="Avatar">
      </div>
    </div>
    <div class="staff-team">
      <div>
        <h3>MxxnTotoro</h3>
        <div class="build">Builder</div>
        <img src="https://minotar.net/armor/bust/f25c511a1bfd45f6b4320c46f79a1a72/190.png" alt="Avatar">
      </div>
    </div>
    <div class="staff-team">
      <div>
        <h3>VieNix</h3>
        <div class="build">Supporter</div>
        <img src="https://minotar.net/armor/bust/8e54248d80c34208a4e01d59a3989cdc/190.png" alt="Avatar">
      </div>
    </div>
  </div>
  <app-footer></app-footer>
